<!doctype html>
<html lang="tr">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <link rel="icon" type="image/x-icon" href="https://www.lcwaikiki.com/favicon.ico">
    <link rel="stylesheet" href="~/css/bootstrap.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.7.1/jquery.min.js"></script>
    <script src="~/js/bootstrap.js"></script>
    <title>LCW-FIT Demo</title>
</head>

<body>
    <main role="main" class="pb-3">
        @RenderBody()
    </main>
    @RenderSection("scripts", required: false)
</body>
</html>