@model List<FitModel>

@{
    ViewData["Title"] = "Index";
    Layout = "_Layout";
}
<section id="navbar">
    <nav class="navbar bg-body-tertiary bg-light">
        <div class="container-fluid">
            <div class="col-5 col-md-3">
                <a class="navbar-brand">
                    <img src="https://upload.wikimedia.org/wikipedia/commons/4/44/LC_Waikiki_logo.svg"
                        class="img img-fluid w-75" />
                </a>
            </div>
            <div class="col-7 col-md-3">
                <form class="d-flex" role="search">
                    <input class="form-control me-2" type="search" placeholder="Fit Bilgisi Ara.." aria-label="Search"
                        value="" name="search" id="search">

                </form>
            </div>
        </div>
    </nav>
</section>
<section id="table" class="justify-content-center">
    <div class="col-12 p-1 p-md-1">
        <table class="table mt-1 border-5">
            <thead class="table-dark table-responsive text-center">
                <th class="text-bg-primary">ID</th>
                <th class="text-bg-primary">Seçim</th>
                <th class="text-bg-primary">Fit Başlığı</th>
                <th class="text-bg-primary">Image</th>

            </thead>
            <tbody class="text-black" id="result">
                <form id="checkboxForm">

                </form>
            </tbody>
        </table>
        <div class="container-fluid">
            <h5 class="h5 text-center my-4 text-black-50">Kağıtta Çıkartılacak Olan Resimlerin CM cinsinden ölçüsünü
                seçin. Varsayılan değer 23x3.5 cm olarak ayarlanmıştır.</h5>
            <div class="row justify-content-center">
                <div class="col-6 col-md-3">
                    <label for="uzunluk" class="form-label">Uzunluk (cm) <div class="price"></div></label>
                    <input type="range" class="form-range" min="18" max="25" step="0.5" id="uzunluk" value="23">
                </div>
                <div class="col-6 col-md-3">
                    <label for="genislik" class="form-label">Genişlik (cm) <div class="price2"></div></label>
                    <input type="range" class="form-range" min="2" max="5" step="0.5" id="genislik" value="3.5">
                </div>
                <div class="col-8 text-center mx-auto mt-5">
                    <button id="submit" type="button"
                        class="btn btn-dark btn-lg mx-auto align-self-center">Yazdır</button>
                </div>
            </div>
        </div>
    </div>
</section>

@section scripts {

<script type="text/javascript" src="~/js/custom.js"></script>
<script>
    function gettoken() {
    var token = '@Html.AntiForgeryToken()';
    token = $(token).val();
    return token;

    }
    </script>
}